.profile_image_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.profile_image {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  border: 1rem solid var(--green);
  background-color: #d9d9d9;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.profile_image__border_radius--circle {
  border-radius: 100%;
}
.profile_image__border_radius--square {
  border-radius: 0;
}
.profile_image__border_radius--squircle {
  border-radius: 5rem;
}