:root {
  --green: #03C988;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem; /* 16 pixels */
}

h1 {
  font-size: 2.8rem; /* 28 pixels */
}

h2 {
  font-size: 2.4rem; /* 24 pixels */
}

h3 {
  font-size: 2.0rem; /* 20 pixels */
}

h4 {
  font-size: 1.8rem; /* 18 pixels */
}

h5 {
  font-size: 1.6rem; /* 16 pixels */
}

h6 {
  font-size: 1.4rem; /* 14 pixels */
}

p {
  font-size: 1.6rem; /* 16 pixels */
}